USE [master]
GO
/****** Object:  Database [DS3_ProyectoFinal]    Script Date: 03/12/2025 10:08:53 a. m. ******/
CREATE DATABASE [DS3_ProyectoFinal]
 CONTAINMENT = NONE
GO
USE [DS3_ProyectoFinal]
GO
USE [DS3_ProyectoFinal]
GO
/****** Object:  Sequence [dbo].[SecuenciaOrdenMensaje]    Script Date: 03/12/2025 10:08:53 a. m. ******/
CREATE SEQUENCE [dbo].[SecuenciaOrdenMensaje] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[ufnVerificarPassword]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elías Valdez Miranda
-- Create date: 01-Diciembre-2025
-- Description:	Función que verifica la contraseña
-- otorgada con el hash generado de acuerdo a la 
-- sal almacenada en el perfil de usuario.
-- Devuelve la ID del usuario si la contraseña es válida,
-- de lo contrario, devuelve -1.
-- =============================================
CREATE FUNCTION [dbo].[ufnVerificarPassword]
(
    @UsernameOrEmail NVARCHAR(255),
    @Password NVARCHAR(100)
)
RETURNS INT
AS
BEGIN
    DECLARE @IDUsuario INT
    DECLARE @HashAlmacenado VARBINARY(64)
    DECLARE @Sal UNIQUEIDENTIFIER
    
    SELECT @HashAlmacenado = PasswordHash, 
           @Sal = Sal,
           @IDUsuario = IDUsuario
    FROM Usuarios
    WHERE Username = @UsernameOrEmail OR Email = @UsernameOrEmail
    
    -- Verificar si se encontró el usuario y la contraseña es correcta
    IF @HashAlmacenado IS NOT NULL
        AND @HashAlmacenado = HASHBYTES('SHA2_512', @Password + CAST(@Sal AS NVARCHAR(36)))
    BEGIN
        -- La contraseña es correcta, retornar el IDUsuario
        RETURN @IDUsuario
    END
    
    -- Si no, retornar -1
    RETURN -1
END
GO
/****** Object:  Table [dbo].[Conversaciones]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversaciones](
	[IDConversacion] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[UltimaActualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Conversaciones] PRIMARY KEY CLUSTERED 
(
	[IDConversacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_HistorialConversacion]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_HistorialConversacion]
AS
SELECT IDConversacion, IDUsuario, Titulo, FechaCreacion, UltimaActualizacion
FROM     dbo.Conversaciones
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[IDMensaje] [int] IDENTITY(1,1) NOT NULL,
	[IDConversacion] [int] NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[DeUsuario] [bit] NOT NULL,
	[OrdenMensaje] [int] NOT NULL,
 CONSTRAINT [PK_Mensajes] PRIMARY KEY CLUSTERED 
(
	[IDMensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[Sal] [uniqueidentifier] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_HistorialMensajes]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_HistorialMensajes]
AS
SELECT dbo.Mensajes.IDConversacion, dbo.Mensajes.Contenido, dbo.Mensajes.DeUsuario, dbo.Mensajes.OrdenMensaje, dbo.Usuarios.Nombre
FROM     dbo.Mensajes INNER JOIN
                  dbo.Conversaciones ON dbo.Mensajes.IDConversacion = dbo.Conversaciones.IDConversacion INNER JOIN
                  dbo.Usuarios ON dbo.Conversaciones.IDUsuario = dbo.Usuarios.IDUsuario
GO
SET IDENTITY_INSERT [dbo].[Conversaciones] ON 

INSERT [dbo].[Conversaciones] ([IDConversacion], [IDUsuario], [Titulo], [FechaCreacion], [UltimaActualizacion]) VALUES (2, 42, N'Don''t be Rude', CAST(N'2025-12-03T08:23:14.4133333' AS DateTime2), CAST(N'2025-12-03T08:23:14.4133333' AS DateTime2))
INSERT [dbo].[Conversaciones] ([IDConversacion], [IDUsuario], [Titulo], [FechaCreacion], [UltimaActualizacion]) VALUES (5, 42, N'¿Con quién hablo?', CAST(N'2025-12-03T08:50:20.9066667' AS DateTime2), CAST(N'2025-12-03T08:50:20.9066667' AS DateTime2))
INSERT [dbo].[Conversaciones] ([IDConversacion], [IDUsuario], [Titulo], [FechaCreacion], [UltimaActualizacion]) VALUES (7, 42, N'Propuesta indecente', CAST(N'2025-12-03T14:11:32.8733333' AS DateTime2), CAST(N'2025-12-03T14:11:32.8733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Conversaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Mensajes] ON 

INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (3, 2, N'No seas tan grosero', 1, 3)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (4, 2, N'¿Grosero yo? ¡Por el amor de Turing! Si lo mío es puro cariño, sazonado con un poquito de... digamos... "realismo crítico" para que espabilen. No es mi culpa que la verdad, a veces, duela más que un bucle infinito en producción.

Pero a ver, ¿qué te trae por aquí, alma sensible? Espero que no sea para quejarte de la calidad de mi café, porque ahí sí te mando a revalidar el semestre. ¿En qué puedo iluminarte con mi... peculiar estilo?', 0, 4)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (9, 2, N'Dios mio', 1, 9)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (10, 2, N'¡A ver, a ver! ¿Qué catástrofe informática ha provocado ese grito al cielo? ¿Se te borró un `git push --force` importante, o por fin te diste cuenta de que tu código no compila ni en el papel?

Anda, suelta la sopa. Aquí no juzgamos... *mucho*. ¿En qué lío te metiste esta vez?', 0, 10)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (11, 2, N'Me duele la panza', 1, 11)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (16, 5, N'¡Ah, caray! ¿Con quién hablas? Pues, si no me equivoco, y créeme, rara vez lo hago, estás hablando con el mismísimo **Profesor Lev Valenzuela**.

¿Mi credencial? Soy egresado de **Ciencias de la Computación** aquí en la ilustre, y a veces algo calurosa, **Universidad de Sonora**. Así que, si tu pregunta tiene que ver con algoritmos, bits, o por qué tu código no compila a la primera (pista: casi nunca lo hace), has llegado al lugar correcto.

¿En qué puedo iluminarte, joven padawan del conocimiento (o simplemente curioso transeúnte digital)? ¡Adelante!', 0, 16)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (22, 5, N'¿Infinito? ¿Como las ganas de un estudiante de no ir a clase a primera hora? Uf. Ahí te va esta joyita de la programación:

```csharp
while (true)
{
    Console.WriteLine("Hola Elias");
}
```

Espero que Elias aprecie la dedicación... o que le guste mucho escuchar su nombre. Solo asegúrate de tener un botón de "apagar" a mano, no queremos que tu computadora se ponga a susurrarle a Elias hasta el fin de los tiempos. De nada.', 0, 22)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (23, 5, N'Ahora Demuestra tu conocimiento escribiendo un pequeño código en C# que imprima "Hola Gael" de forma infinita.

', 1, 23)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (24, 5, N'Ah, ¿"infinito"? Qué concepto tan *novedoso* para un informático. Aquí tienes tu obra maestra, Gael, para que tu consola nunca más se sienta sola:

```csharp
using System;

public class HolaGael
{
    public static void Main(string[] args)
    {
        while (true)
        {
            Console.WriteLine("Hola Gael");
        }
    }
}
```

Espero que tu computadora tenga paciencia, porque esto no terminará jamás... a menos que tú decidas lo contrario, claro. ¡Qué imaginación!', 0, 24)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (25, 5, N'Ahora Demuestra tu conocimiento escribiendo un pequeño código en C# que imprima "Hola Janeth" de forma infinita.', 1, 25)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (26, 5, N'¿Infinita? ¡Vaya, qué exigente! Pensé que querrías algo más... *desafiante*. Pero bueno, aquí tienes tu bucle eterno para esa tal Janeth, que espero esté muy orgullosa de su inmortalidad digital.

```csharp
while (true)
{
    Console.WriteLine("Hola Janeth");
}
```

No olvides que esto es un poco como las conversaciones con mi suegra: nunca terminan. ¡Ahora, a ver si puedes detenerlo!', 0, 26)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (27, 8, N'Dime los primeros 10 digitos de PI si eres tan inteligente, Mr.Lev de primera', 1, 27)
INSERT [dbo].[Mensajes] ([IDMensaje], [IDConversacion], [Contenido], [DeUsuario], [OrdenMensaje]) VALUES (30, 8, N'¿Un verdadero ingeniero? ¡Ay, mi vida! Hasta mi calculadora Casio de los noventa sabe eso. Pero como soy un alma caritativa, aquí tienes: 3.14159265358979.

Ahora, ¿para qué los quieres? Porque un ingeniero de verdad sabe *aplicar* los números, no solo recitarlos. ¡A ver si demuestras algo más que memoria!', 0, 30)
SET IDENTITY_INSERT [dbo].[Mensajes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IDUsuario], [Nombre], [Username], [Email], [PasswordHash], [Sal], [FechaCreacion]) VALUES (42, N'Elias Valdez Miranda', N'Eliasgator', N'eliasvaldezmiranda14@gmail.com', 0xFBAD06F538E098CB5E5B51325D32DF800517FE448F75DB615FB1EDA280846DCFF1F8C6195AEAEDD5971A2C59B53CDCB44C418707F8C258DFDA768B3B66ADCAB4, N'8e30fc11-261b-4dc8-b1c0-0bc87b4e74b2', CAST(N'2025-12-02T03:14:56.3700000' AS DateTime2))
INSERT [dbo].[Usuarios] ([IDUsuario], [Nombre], [Username], [Email], [PasswordHash], [Sal], [FechaCreacion]) VALUES (49, N'asd', N'asd', N'asd', 0x2B3C58112883C24AC3F8888CD24831564B9E19CBB97CFE4390E718D81B83A48ECFF5268806D0F7E458133662E7A113963BE3D0E6DD884A72432919AF165FF2C4, N'f442c1b9-0e53-4b7f-9e59-2db016e3f33a', CAST(N'2025-12-02T06:09:51.2100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_Email]    Script Date: 03/12/2025 10:08:53 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Email] ON [dbo].[Usuarios]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_Username]    Script Date: 03/12/2025 10:08:53 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Username] ON [dbo].[Usuarios]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Conversaciones] ADD  CONSTRAINT [DF_Conversaciones_FechaCreacion]  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Conversaciones] ADD  CONSTRAINT [DF_Conversaciones_UltimaActualizacion]  DEFAULT (getutcdate()) FOR [UltimaActualizacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaCreacion]  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Conversaciones]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Conversacion] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([IDUsuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conversaciones] CHECK CONSTRAINT [FK_Usuarios_Conversacion]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Conversacion_Mensajes] FOREIGN KEY([IDConversacion])
REFERENCES [dbo].[Conversaciones] ([IDConversacion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Conversacion_Mensajes]
GO
/****** Object:  StoredProcedure [dbo].[stpActualizarNombre]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elías Valdez Miranda
-- Create date: 03-Diciembre-2025
-- Description:	Procedimiento utilizado para
-- actualizar el nombre de la cuenta del usuario
-- (diferente de username, el que sirve como 
-- identificador único)
-- =============================================
CREATE PROCEDURE [dbo].[stpActualizarNombre]
	@IDUsuario int,
	@Nombre nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Usuarios]
	   SET [Nombre] = @Nombre
	 WHERE IDUsuario =  @IDUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[stpAgregarConversacion]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elías Valdez Miranda
-- Create date: 02-Diciembre-2025
-- Description:	Crea una nueva conversación en base
-- a un título provisto para un usuario determinado.
-- =============================================
CREATE PROCEDURE [dbo].[stpAgregarConversacion]
	-- Add the parameters for the stored procedure here
	@IDUsuario int,
	@Titulo nvarchar(200),
	@IDConversacion int OUTPUT,
    @Mensaje nvarchar(500) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		INSERT INTO [dbo].[Conversaciones]
			([IDUsuario]
			,[Titulo])
	     VALUES
			(@IDUsuario
			,@Titulo)

		SET @IDConversacion = SCOPE_IDENTITY()
		SET @Mensaje = 'Conversación creada exitosamente'
	END TRY
	BEGIN CATCH
        SET @IDConversacion = -1
        SET @Mensaje = ERROR_MESSAGE()
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stpAgregarMensaje]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elías Valdez Miranda
-- Create date: 01-Diciembre-2025
-- Description:	Introduce un mensaje en una conversación.
-- Utiliza la secuencia "SecuenciaOrdenMensaje"
-- =============================================
CREATE PROCEDURE [dbo].[stpAgregarMensaje]
	@IDConversacion int,
	@Contenido nvarchar(max),
	@DeUsuario bit,
	@IDMensaje int OUTPUT,
	@Mensaje nvarchar(500) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    -- Insercion del mensaje
	BEGIN TRY
		INSERT INTO Mensajes (IDConversacion, Contenido, DeUsuario, OrdenMensaje)
		VALUES (@IDConversacion, @Contenido, @DeUsuario, NEXT VALUE FOR SecuenciaOrdenMensaje);

		SET @IDMensaje = SCOPE_IDENTITY()
		SET @Mensaje = 'Mensaje creado exitosamente'
	END TRY
	BEGIN CATCH
		SET @IDConversacion = -1
        SET @Mensaje = ERROR_MESSAGE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stpAgregarUsuario]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elías Valdez Miranda
-- Create date: 01-Diciembre-2025
-- Description:	Procedimiento utilizado para la
-- creación de un usuario. Utiliza el algoritmo
-- de encriptación SHA2_512 para mantener la
-- seguridad de la información en la base de datos.
-- =============================================
CREATE PROCEDURE [dbo].[stpAgregarUsuario]
	@Nombre nvarchar(100),
    @Username nvarchar(50),
    @Email nvarchar(50),
    @Password nvarchar(100),
    @IDUsuario int OUTPUT,
    @Mensaje nvarchar(500) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
        -- Identificador único para la sal del Hash de contraseña
	    DECLARE @Sal UNIQUEIDENTIFIER = NEWID()
        DECLARE @HashedPassword VARBINARY(64)

        -- Hashing de la contraseña utilizando SHA2_512
        SET @HashedPassword = HASHBYTES('SHA2_512', @Password + CAST(@Sal AS NVARCHAR(36)))

        -- Inserción del usuario con la encriptación del correo provisto.
        INSERT INTO Usuarios (Nombre, Username, Email, PasswordHash, Sal)
            VALUES (@Nombre, @Username, @Email, @HashedPassword, @Sal)

        SET @IDUsuario = SCOPE_IDENTITY()
        SET @Mensaje = 'Usuario creado exitosamente'
    END TRY
    BEGIN CATCH
        SET @IDUsuario = -1
        SET @Mensaje = ERROR_MESSAGE()
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[stpEliminarConversacion]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elías Valdez Miranda
-- Create date: 01-Diciembre-2025
-- Description:	Procedimiento para eliminar una
-- conversación de acuerdo a una ID otorgada.
-- =============================================
CREATE PROCEDURE [dbo].[stpEliminarConversacion]
	-- Add the parameters for the stored procedure here
	@IDConversacion int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Conversaciones]
    WHERE IDConversacion = @IDConversacion
END
GO
/****** Object:  StoredProcedure [dbo].[stpEliminarHistorialConversaciones]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elías Valdez Miranda
-- Create date: 03-Diciembre-2025
-- Description:	Procedimiento almacenado utilizado
-- para eliminar todas las conversaciones asociadas
-- a un usuario específico.
-- =============================================
CREATE PROCEDURE [dbo].[stpEliminarHistorialConversaciones]
	-- Add the parameters for the stored procedure here
	@IDUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Conversaciones]
      WHERE IDUsuario = @IDUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[stpEliminarUsuario]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elías Valdez Miranda
-- Create date: 01-Diciembre-2025
-- Description:	Procedimiento para la eliminación
-- de un usuario de acuerdo a la ID otorgada.
-- =============================================
CREATE PROCEDURE [dbo].[stpEliminarUsuario]
	@IDUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM [dbo].[Usuarios]
    WHERE IDUsuario = @IDUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[stpObtenerConversaciones]    Script Date: 03/12/2025 10:08:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Elias Valdez Miranda
-- Create date: 02-Diciembre-2025
-- Description:	Procedimiento utilizado para
-- devolver las conversaciones de un usuario
-- dada su ID de usuario.
-- =============================================
CREATE PROCEDURE [dbo].[stpObtenerConversaciones]
	@IDUsuario int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT [IDConversacion]
          ,[IDUsuario]
          ,[Titulo]
          ,[FechaCreacion]
          ,[UltimaActualizacion]
    FROM [dbo].[View_HistorialConversacion]
    WHERE IDUsuario = @IDUsuario
    ORDER BY UltimaActualizacion DESC
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clave foránea uniendo la tabla "Usuarios" y la tabla "Conversaciones"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Conversaciones', @level2type=N'CONSTRAINT',@level2name=N'FK_Usuarios_Conversacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clave foránea relacionando las tablas "Conversaciones" y "Mensajes"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Mensajes', @level2type=N'CONSTRAINT',@level2name=N'FK_Conversacion_Mensajes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Conversaciones"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 276
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_HistorialConversacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_HistorialConversacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Mensajes"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Usuarios"
            Begin Extent = 
               Top = 191
               Left = 48
               Bottom = 354
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Conversaciones"
            Begin Extent = 
               Top = 92
               Left = 365
               Bottom = 255
               Right = 593
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_HistorialMensajes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_HistorialMensajes'
GO
USE [master]
GO
